.error-host {
    text-align: center;
    padding: 50px 20px;
    border-radius: 5px;
    min-height: calc(100vh - 111px - 75px - 102px);
    background: #FFF7ED;
}

.error-host > h1 {
    font-size: 30px;
    font-weight: 700;
}

.error-host > p {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    color: #161616;
}



