.vans-section {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
    font-family: 'Inter';
    background: #FFF7ED;
    min-height: calc(100vh - 111px - 75px);
}

.vans-section > h2 {
    color: #161616;
    font-size: 32px;
    font-weight: 700;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.button-div {
    position: relative;
    display: flex;
}

.button-div {
    font-weight: 500;
    line-height: 24px; 
    color: #4D4D4D;
    cursor: pointer;
    padding: 6px 26px 7px 26px;
    background-color: #FFEAD0;
    border-radius: 5px;
}

.button-div, .clear-filter {
    transition: all 200ms;
}

.button-div:hover, .selected-btn {
    color: #FFEAD0;
}

.button-div > button, .clear-filter > button  {
    position: absolute;
    left: 50%;
    visibility: hidden;
}

.simple-btn:hover, .simple-btn.selected-btn {
    background-color: #E17654;
}

.rugged-btn:hover, .rugged-btn.selected-btn {
    background-color: #115E59;
}

.luxury-btn:hover, .luxury-btn.selected-btn {
    background-color: black;
}

.clear-filter:hover {
    font-weight: 700;
}

.clear-filter {
    position: relative;
    text-decoration: underline;
}

.clear-filter > label {
    cursor: pointer;
}

.vans {
    margin: 42px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.van > a {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 230px;
    gap: 12px;
}

.van-name-and-price {
    display: flex;
    justify-content: space-between;
    color: #161616;
    font-size: 20px;
    font-weight: 600;
}

.van-name, .van-price {
    font-weight: 600;
}

.van-price {
    position: relative;
}

.van-price::after {
    font-size: 14px;
    font-weight: normal;
    content: "/day";
    position: absolute;
    bottom: -11px;
    left: 10px;
}

.van-type {
    width: 86px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.van-type > p {
    color: #FFEAD0;
    text-align: center;
    font-weight: 600;
}

.simple {
    background: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: black;
}

