.error {
    min-height: calc(100vh - 111px - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.error-logo {
    font-size: 65px;
    font-weight: 700;
}

.error-msg {
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    max-width: 90%;
    position: relative;
    width: 270px;
    text-align: center;
}

.return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 55px;
    max-width: 90%;
    background: #161616;
    text-align: center;
    width: 350px;
}

.return-btn > button {
    background: #161616;
    color: #FFF;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}   

@media screen and (max-width: 375px) {
    .error-logo {
        font-size: 45px;
    }
}
