.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: grey; */
}

.nav-link-active {
    text-decoration-color: #161616;
    color: #161616;
    text-decoration: underline;
}

.layout-outlet {
    min-height: calc(100vh - 111px - 75px);
}

.loading {
    padding: 20px;
    font-weight: 700;
}