.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: grey; */
}

.nav-link-active {
    text-decoration-color: #161616;
    color: #161616;
    text-decoration: underline;
}